.container{
    width: 80%;
    margin: auto;
    padding: 30px;
    /* background-color: bisque; */
    margin-top: 15px;
    display: flex;
}
.smallimg{
    /* background-color: aqua; */
    padding: 5px;
    width: 10%;
    display: grid;
    /* gap: 2px; */
    height: 400px;
}
