.display{
margin: 10px;
border: 1px solid lightgray;
padding: 10px;
}
.display>div,p{
    margin-top: -20px;
}

.price{
    display: flex;
    margin-top: -35px;
    gap: 10px;
}
.price>*:last-child{
    text-decoration: line-through;
    color: rgb(192, 190, 190);
}