#cart_nav {
    text-align: left;
}

#cart_nav img {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 150px;
}

#main_container {
    display: flex;
    justify-content: center;
}

h2{
    text-align: left;
    /* margin: 10px 180px; */
}

#left_container {
    /* border: 2px solid black; */
    width: 65%;
    /* padding: 5px 10px; */
    margin:10px 10px;
}

#right_container {
    width: 30%;
    margin-top: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px ; */
    margin-top: 20px;
    padding-top: 20px;
}

#coupon {
    color: rgb(87,162,167);
    background-color: rgb(235,246,245);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#coupon button {
    background-color: rgb(235,246,245);
    padding: 5px 10px;
    border: 2px solid rgb(87,162,167);
    border-radius: 5px;
    color: rgb(87,162,167);
    font-weight: bold;
}
#coupon button:hover{
    color: rgb(235,246,245);
    background-color: rgb(87,162,167);
}

#totalAmount{
    border: 2px solid rgb(228, 204, 204) ;
    margin-top: 5px;
    border-radius: 5px;
}
#price_summary {
    background-color: rgb(245,245,245);
    margin: 10px 2px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    /* border: 2px solid crimson; */
}
#price_summary h4 {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#price_calc {
    /* border: 2px solid teal; */
    padding: 5px 10px;
    margin-top: 20px;
}

#price_calc div {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.discount {
    /* border: 2px solid red; */
    padding: 5px 10px;
}

#final_price {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

#final_price div:nth-child(1){
    margin-top: 30px;
}


#final_price button {
    background-color: rgb(87,162,167);
    border: none;
    color: white ;
    border-radius: 5px;
    padding: 10px 20px;
}
.form{
    margin-top: 25px;
    font-size: larger;
    font-weight: 600;
    padding: 15px;
}
.form>div{
    /* gap: 10px; */
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
}
.form>div:nth-child(2)>input{
    margin-top: 30px;
    width: 45%;
    padding: 5px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 10px;
}
.form>div:nth-child(3) input{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 10px;
}
.form>div:nth-child(4)>input{
    width: 30%;
    padding: 5px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 10px;
}
.form>div:nth-child(5)>input{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 10px;
}
.form>div:nth-child(6){
margin-top: 40px;
}
.form>div:nth-child(6){
color: rgb(255, 64, 102);
}
.form>div:nth-child(6)>:last-child{
    background-color: black;
    color: white;
    padding: 10px;
}